@font-face {
  font-family: "enigma";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/enigma/EnigmaB_2.eot"),
  url("../fonts/enigma/EnigmaticBold.woff") format("woff"),
  url("../fonts/enigma/EnigmaB_2.woff2") format("woff2"),
  url("../fonts/enigma/EnigmaB_2.ttf") format("truetype"),
  url('../fonts/enigma/EnigmaticBold.svg') format('svg');
}


* {
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
  overflow-x: hidden;
  color: #fff;
  scroll-behavior: smooth;
  margin: 0;
}
main {
  width: 100%;
  background: url(../img/bg.jpg) no-repeat top;
  background-size: cover;
  padding-bottom: 70px;
}
/************************/
h1, h2, h3, h4 {
  font-family:'enigma', sans-serif;
  line-height: 1.1;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 50px;
  margin-bottom: 30px;
  border-bottom: 2px solid #fff;
  display: inline-block;
}
h4 {
  font-size: 26px;
}
b {
  font-weight: 700;
}
p {
  font-size: 16px;
}
i {
  font-style: italic;
}
ul {
  list-style: none;
}
li {
  padding: 10px 0;
  text-align: left;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
}
form {
  text-align: left;
}
input[type=email],
input[type=text],
textarea {
  width: 90%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background: transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 15px 0;
  margin-bottom: 20px;
}
textarea {
  width: 95%;
  padding: 8px 0;
  resize: none;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-15 {
  margin-top: 15px;
}
/**************************************************************** BUTTONS AND LINKS****************************************************************/
a {
  text-decoration: none;
  font-size: 14px;
  transition: .2s;
}

.sim-button{
  line-height: 50px;
  height: 50px;
  text-align: center;
  margin-top: 25px;
  width: 50%;
  cursor: pointer;
}
.btn {
  background: linear-gradient( 45deg, #d21551, #831657, #0e0f61);;
  color: rgba(255,255,255,1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(255,255,255,0.5);
  overflow: hidden;
}

.btn a{
  color: rgba(51,51,51,1);
  text-decoration: none;
  display: block;
}
.btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(210,21,81,.25);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(13%,190%) rotate(-30deg);
  transform: translate(13%,190%) rotate(-30deg);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color:rgba(55,150,198,.25);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-13%,-190%) rotate(-30deg);
  transform: translate(-13%,-190%) rotate(-30deg);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn::before{
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.btn:hover::before,
.btn:hover::after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  font-size: 14px;
  outline: none;
  color: #ffffff;
  padding: 8px 25px;
  border-radius: 2px;
  text-transform: uppercase;
}


/******* Menu ********/
/*.menu {*/
/*  padding: 20px 0;*/
/*}*/
.menu li {
  display: inline-block;
  padding: 5px;
}
.menu a {
  font-family: 'enigma', sans-serif;
  color: #fff;
  font-weight: 700;
  padding: 10px 5px;
}
.menu a:hover,
.menu a:active,
.menu a:focus {
   color: #d21551;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  width: 100%;
  background: #3c318d;
  position: fixed;
  z-index: 999;
  margin-bottom: 75px;
}
.nav a {
  font-family: 'enigma', sans-serif;
  color: #fff;
  font-weight: 700;
  padding: 10px 5px;
  font-size: 16px;
}
nav .right-menu a {
  font-size: 24px;
}
.nav a:hover,
.nav a:active,
.nav a:focus {
   color: #d21551;
 }

/* GRID */
section {
  padding: 70px 0;
  min-height: 70vh;
  height: 100%;
  display: flex;
}
section:first-of-type {
   padding-top: 13em;
 }
.container {
  max-width: 1180px;
  width: 100%;
  margin: auto;
  padding:0 15px;
  position: relative;
}
.flex-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.row {
  width: 100%;
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-3 {
  width: 32.33%;
  flex: 0 0 32.33%;
  padding: 0 15px;
}
.col-2 {
  width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}
.col {
  width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}
.padding-0 {
  padding-right:0;
  padding-left:0;
}

.col-2 {
  width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}
/* ALIGN TEXT */
.text-right {
  text-align: right;
}
.text-center   {
  text-align: center;
}
small {
  font-size: 12px;
  display: block;
}

/* SCROLL BAR*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #3c318d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b13a72;
}
/********************************/
#top,
#bottom {
  width: 100%;
  position: absolute;
  height: 50%;
}
#top:before,
#bottom:before {
   position: absolute;
   right: 20px;
   content: '';
   width:0;
   height: 0;
   background: rgba(255, 255, 255, 0.5);
   animation: topBorder 1s linear forwards;
   animation-delay: 1s;
}

#top {
  top: 0;
}
#top:before {
   top: 0;
 }

#bottom {
  bottom: 0;
}
#bottom:before {
   bottom: 0;
 }



@keyframes bounceInLeft {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  70% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.my-photo {
  position: absolute;
  bottom: 20px;
  right: -111px;
  height: 350px;
  width: auto;
}
.content {
  position: relative;
  height: 410px;
  padding: 2em;
}
.content:after {
   position: absolute;
   top:0;
   right: -32px;
   content: '';
   width:20px;
   height: 100%;
   background: rgba(255, 255, 255, 0.5);
   animation: rightBorder 1s linear forwards;
 }
@keyframes rightBorder {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.box {
  width: 60%;
  position: relative;
  margin: 0 auto;
}
.box h1 {
  position: absolute;
  top: 7%;
  left: -25%;
  animation: bounceInLeft 2s ease-out;
}
.box:before,
.box:after {
   position: absolute;
   left: -8px;
   content: '';
   width:20px;
   height: 0;
   background: rgba(255, 255, 255, 0.5);
   animation: leftBorder 1s linear forwards;
   animation-delay: 2s;
 }
.box:after {
   top:0;
 }
.box:before {
   bottom:0;
 }


@keyframes leftBorder {
  0% {
    height:0;
    width: 0;
  }
  50% {
    height: 15%;
    width: 10px;
  }
  100% {
    height: 25%;
    width: 20px;
  }
}
@keyframes topBorder {
  0% {
    height:0;
    width: 0;
  }
  50% {
    height: 10px;
    width: 50%;
  }
  100% {
    height: 20px;
    width: 100%;
  }
}

.violet-block {
  padding: 30px 30px 50px;
  box-shadow: 6px 6px 0 0 #d21551;
  margin-top: 30px;
}
.violet-block:before {
   top: -6px;
   right: 6px;
 }
.violet-block:after {
   top: -12px;
   right: 12px;
 }

.work {
  height: 200px;
  margin: 15px 5px;
  box-shadow: 2px 2px 0 0 #d21551;
}
.work:before {
   top: -2px;
   right: 2px;
 }
.work:after {
   top: -4px;
   right: 4px;
 }

.work,
.violet-block {
  position: relative;
  background: #831657;
  z-index: 3;
}
.work:before,
.violet-block:before {
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   background: #5e0c59;
   z-index: -1;
 }
.work:after,
.violet-block:after {
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   background: #0e0f61;
   z-index: -1;
 }

/********************/
.work_image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-top: -4px;
  margin-left: -4px;

}
.work_link {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.work_link:hover  figcaption {
  background: transparent;
  color: transparent;
}

figcaption {
  background: rgba(14, 15, 97, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  padding: 15px;
  color: rgba(255, 255, 255, .7);

}
.figcaption {
  transition: all 1s;
}
.figcaption:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 20%;
  left: 20%;
  top: 30%;
  background: rgba(255, 255, 255, .1);
  transform: translate(13%,190%) rotate(-30deg);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-delay: .3s;

}
.figcaption:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0,0);
}

/****************************************************/
.gradient {
  position: relative;
  padding-left: 30px;
}
.gradient:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  content: '';
  background: repeating-linear-gradient(
      45deg,
      #180A5C,
      #4B79EA,
      #180A5C 7px,
      #6520C1 5px,
      #40CEF8 5px,
      #6520C1 10px,
      #180A5C 7px,
      #A76BFD 7px
  );
}
/*********************** MEDIA *****************************/


@media all and (max-width: 1200px) {
  .container {
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .violet-block {
    width: 100%;
    margin: auto;
  }
}


@media all and (max-width: 1025px) {
  .col-3 {
    width: 30px;
    flex: 0 0 30%;
  }
}


@media all and (max-width: 991px) {
  h1 {
    font-size: 3.8em;
  }
  h2 {
    font-size: 48px;
  }
  h2.h-header {
     font-size: 46px;
   }
  h3 {
    font-size: 28px;
  }
  h3.group-name {
     font-size: 30px;
     margin-bottom: 20px;
   }

  h4 {
    font-size: 22px;
  }
  .row {
    justify-content: space-around;
  }
  .col-3 {
    width: 45%;
    flex: 0 0 45%;
  }
}

@media all and (max-width: 767px) {

   h1 {
     font-size: 3.3em;
   }
  h2 {
    font-size: 42px;
  }
  h2.h-header {
     font-size: 38px;
   }

  h3 {
    font-size: 25px;
  }
  h3.group-name {
     font-size: 26px;
     margin-bottom: 15px;
   }

  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h5.form-title {
     padding-top: 10px;
   }

  p {
    font-size: 14px;
  }
  .col-2 {
    width: 100%;
    flex: 0 0 100%;
  }
  .box {
    width: 88%;
  }
  .box h1 {
    top: 15%;
    left: -9%;
  }
}

@media all and (max-width: 600px) {
  .menu {
    padding: 0;
    margin: 0;
  }
  nav {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5px;
  }
  nav .brand {
    flex: 0 0 100%;
    text-align: center;
  }
}


@media all and (max-width: 550px) {

  h1 {
    font-size: 3em;
  }

  .col-3 {
    width: 320px;
    flex: 0 0 320px;
  }

  input[type=email], input[type=text], textarea {
    width: 100%;
  }
  .violet-block {
    padding-left: 0;
  }
  .my-photo {
    display:none;
  }

}
@media all and (max-width: 480px) {
  h1 {
    font-size: 2.5em;
  }
  .container {
    overflow: hidden;
  }
  .box h1 {
    left: 20px;
  }
}
